body{
    background-image: url(Background\ layung.jfif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 40px;
}

